.leia-mais{
    font-size: 20px;
    padding: 8px;
    margin: 10px;
    display: block;
    text-align: center;
    background-color: #E6E7E8;
}

article{
    padding-bottom: 30px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}